/* src/App.css */
.hompage {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; /* Center-align the title */
}
.heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.tiles-container {
  display: flex;
  justify-content: space-between;
}
